* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(130deg, #252525 32%, #495abe 100%);
  color: rgb(255, 255, 255);
  font-family: "New Walt Disney Font", sans-serif;
  /*font-family: "Poppins", sans-serif;*/
  min-height: 100vh;
}

header {
  font-size: 2.5rem;
}

img {
  height: 150px;
  width: 150px;
  margin-left: -40px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  font-size: 2.5rem;
  border: none;
  background: white;
  border-radius: 8px 0px 0px 5px;
}

form button {
  color: #6b90c0;
  background: rgb(54, 52, 52);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0px 5px 5px 0px;
  width: 50px;
  font-size: 2.55rem;
}

form button:hover {
  background: #3961aa;
  color: white;
}

.song-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.song-list {
  min-width: 30%;
  list-style: none;
}

.song-btns {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.filter-list {
  padding: 0.9rem;
}

.song-btns li {
  flex: 1;
}

.text-input {
  padding: 0.6rem;
  font-size: 1.5rem;
}

.trash-btn,
.complete-btn,
.edit-btn {
  background: #eb2e2e;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.trash-btn:hover,
.complete-btn:hover,
.edit-btn:hover {
  background: #2f79e9b4;
  color: white;
  transition: all 0.3s ease;
}

.complete-btn {
  background: rgb(69, 121, 80);
}

.edit-btn {
  background: rgb(230, 140, 38);
  border-radius: 0px 5px 5px 0px;
}

.song-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.added {
  text-decoration: line-through;
  opacity: 0.5;
}

.edited {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px 4px 4px 5px;
}

select {
  color: black;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 10rem;
  border-radius: 10px;
}

.select::after {
  content: "\25BC";
  color: rgb(146, 146, 207);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgb(54, 53, 53);
  pointer-events: none;
}

.select:hover::after {
  background: #3961aa;
  color: white;
  transition: all 0.3s ease;
}